/* ---------------------CSS prévue pour toutes les pages----------------------- */

html{
    width: 100%;
    height: 100%;
}

img{
    max-width: 200px;
    max-height: 200px;
}

#logo{
    max-width: 150px;
    max-height: 150px;
}

ul{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    padding: 2rem;
}


ul li a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: darkblue;
    transition-delay: 0.2s;
}


#prestation{
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

#sect{
    text-align: center;
}
#sect:hover{
    transform:scale(1.25);
}

#sect a {
    text-decoration: none;
    color: black;
}
#intitule{
    font-weight: bold;
    padding: 2rem;
}

p{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    font-size: 2rem;
}
/* ------------------------fin de la mise en page générale ---------------------------*/


/* ------------------- page Accueil, electricite, clim, plomberie, vmc-------------------------- */

#text{
    font-size: 1.5rem;
}

/* -----------------fin de la page Accueil, electricite, clim, plomberie, vmc----------------- */
#realisation{
    padding-bottom: 1rem;
    padding-top: 1rem;
}



/*---------------------modification de la page contact ----------------------- */

#contact{
    font-size: 2rem;
}

#redirection{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

#redirection:hover{
    color: blue;
    transition-delay: 0.3sec;
}

#carte{
    display: flex;
    justify-content: center;
}

#comment{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-bottom: 1.3rem;
    border-bottom: solid black;
}

  /* mise en place du footer */

#footer{
    
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 2rem;
}

#logo_reso{
    max-width: 50px;
    max-height: 50px;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

/* ------------------- mise en place de la photo de maintenance du site --------- */
#modification{
    max-width: 1066px;
    max-height: 833px;
    display: flex;
    justify-content: center;
}

/* ---------- media queries ------------ */

@media (max-width: 1250px){
    nav{
        font-size: 0.5rem;
    }
}